.destination-box {
  border: 1px solid #d1d1d1;
  padding: 8px;
  margin: 16px 8px;
  border-radius: 25px;
}

.weather-forecast-container, .flight-prices-container {
  display: flex;
  justify-content: space-evenly;
  padding: 8px 0;
}
.flight-prices-container {
  border-top: 1px solid #d1d1d1;
}

.destination-text {
  background: #d8eeff;
  padding: 8px 16px;
  margin: 8px 8px;
  border-radius: 25px;
}

.date {
  padding: 8px 0 16px;
  font-style: italic;
  font-weight: bold;
}

.temp-details {
  padding: 4px 0;
  font-size: 0.9rem;
}

.flight-data {
  padding: 8px;
}
